<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/x-icon">
    <script src="https://cdn.tailwindcss.com"></script>
</head>
<body class="bg-zinc-700 h-screen w-full text-white">
    <div id="main" class="h-full w-full ">
        <nav class="flex justify-between px-24 max-sm:px-12 bg-zinc-900 h-20 items-center"> 
            <div class="navleft">
                <h1 class="font-bold text-2xl ">Movies</h1>
            </div>

            <a href="#" class="sm:hidden text-xl" >Menu</a>

            <div class="navright max-lg:hidden">

                <ul class="flex gap-16">

                    <li><a class="text-xl" href="/">Home</a></li>
                    <li> <a class="text-xl" href="/search">Search</a></li>
                    <li><a class="text-xl" href="/addmovie">Add Movies</a></li>
                    <li><a class="text-xl" href="/deletemovie">Delete Movies</a></li>
                   
                </ul>
  
            </div>
        </nav>

        <header class="h-20 flex items-center justify-center">

            <h1 class="text-2xl font-bold">All Movies</h1>
            
        </header>

        <section class="max-sm:min-h-3/4  gap-6  rounded w-[90%] m-auto p-6 flex flex-wrap justify-center">

            <% if (movies.length == 0) { %>
                <h1 class="text-2xl font-bold">No Movies to Delete! </h1>
            <% } else { movies.forEach(movie => {%>
                <div class="card rounded-md bg-slate-500 w-[15rem] h-[23rem]">
                    <div class="img-container h-[67%]">
                        <img class="h-full w-full object-cover" src="<%= movie.image %>" alt="">
                    </div>
                    <div class="card-info flex flex-col gap-1 justify-center items-center text-white overflow-hidden">
                        <h1 class="mt-2 text-xl px-2"><%= movie.name %></h1>
                        <h4 class="font-bold text-sm">Rating: <%= movie.rating %></h4>
                        <form action="/deletemovie/<%= movie.id %>" method="POST">
                            <button class="bg-red-500 px-4 py-2 rounded font-bold text-md">Delete</button>
                        </form>
                    </div>
    
                </div>
    
            <%  }) %>
            <% } %>

           
            
        </section>

    </div>

    <script></script>
</body>
</html>